#form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #41b8f0;
}

#form-inputs  {
    display: flex;
    justify-content: center;
    padding-top: 1%;
}

#form-inputs input {
    margin-right: 2%;
    padding: 0.3%;
    width: 15%;
    border-radius: 5px;
    text-indent: 5px;
}

#button-container {
   display: flex;
   justify-content: center;
   padding-top: 2%;
   padding-bottom: 2%;
}

#button-container button {
    width: 10%;
    height: 4vh;
}

#button-container button:hover {
    cursor: pointer;
}