#update-form-container {
    display: flex;
    justify-content: center;
    background-color: #41b8f0;
    border: 2px solid black;
}

#update-form-inputs  {
    display: flex;
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

#update-form-inputs input {
    margin-right: 2%;
    padding: 0.3%;
    width: 25%;
    border-radius: 5px;
    text-indent: 5px;
}